/* ------------------------------------------------
	Global Styles

	(Pulled from base.css and blackout.css,
	 only as needed)
   ------------------------------------------------ */

img,
#globalfooter #breadcrumbs,
#globalfooter #breadcrumbs span,
#productheader h2 a,
#poster .enlarge,
.hd span,
em.new,
.button span { _behavior: url(/global/scripts/lib/iepngfix.htc); }

body { font-size:12px; line-height:1.5; color:#000; margin: 0; font-family: helvetica-neue, helvetica, arial, sans-serif; }

img { border: 0; }
.left { float: left; }
.right { float: right; }
img.left { margin: 2px 20px 16px 0; }
img.right { margin: 2px 0 16px 20px; }
img.center { display: block; margin: auto; }
img.across { margin: 2px 0 16px 0; }
img.flushleft { margin-left: -20px; }
img.flushright { margin-right: -20px; }

.content { width: 940px; padding: 5px 20px; margin: 0 auto; position: relative; }

.content { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px; }

.content { -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; background: #fff; }
@-moz-document url-prefix() { .content { border: 1px solid; border-color: #e5e5e5 #dbdbdb #d2d2d2;  } } /* FF2 */
.content { *border: 1px solid; *border-color: #e5e5e5 #dbdbdb #d2d2d2; } /* IEs */
.content:nth-child(1n) { border: none; } /* reset for smart browsers */

#nojs, #noqt, #ie6-message { position:relative; margin:0 auto -38px; padding:10px; text-align:center; background:#333; color:#ccc; }
#ie6-message h2 { color: #fff; margin: 0; font-size: 1.4em; font-weight: bold; }
#ie6-message a { text-decoration: underline; }
#ie6-message a:hover { color: #08c; }

/* GRID */
.column { float: left; }
.grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { width: 100%; }

.grid2col .column { width: 49%; }
.grid2col .grid2col .column { width: 47.8%; }
.grid3col .grid2col .column { width: 46%; }
.grid4col .grid2col .column { width: 45%; }

.grid2cola .column.first { width: 66%; }
.grid2cola .column.last { width: 32%; }

.grid2colb .column.first { width: 74.9%; }
.grid2colb .column.last { width: 23%; }

.grid2colc .column.first { width: 32%; }
.grid2colc .column.last { width: 66%; }

.grid2cold .column.first { width: 23%; }
.grid2cold .column.last { width: 74.9%; }

.grid2cole .column.first { width: 79%; }
.grid2cole .column.last { width: 19%; }

.grid2colf .column.first { width: 19%; }
.grid2colf .column.last { width: 79%; }

.grid3col .column { width: 32%; margin-left: 2%; }
.grid2col .grid3col .column { width: 31%; }

.grid3cola .column { width: 58%; margin-left: 2%; }
.grid3cola .column.first,
.grid3cola .column.last { width: 19%; }

.grid4col .column { width: 23%; margin-left: 3%; }

.grid5col .column { width: 17.5%; padding-right: 2.1%; margin-left: 1.2%; }

.grid6col .column { width: 15%; margin-left: 2%; }

.column.first, .column.last { margin-left: 0 !important; }
.column.last { float: right !important; padding-right: 0; }

#content:after, .grid2col:after, .grid2cola:after, .grid2colb:after, .grid2colc:after, .grid2cold:after, .grid2cole:after, .grid2colf:after, .grid3col:after, .grid3cola:after, .grid4col:after, .grid5col:after, .grid6col:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#content, .grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { zoom: 1; }

/* pillbuttons */
a.pillbutton { display:inline-block; position:relative; padding-right:43px; font-size:15px; line-height:1.3em; color:#fff !important; text-decoration:none; outline:none; z-index:2; }
a.pillbutton, x:-moz-any-link { display:block; width:14em; margin:0 auto; } /* this is for firefox2 because inline-block doesn't work */
a.pillbutton, x:-moz-any-link, x:default { display:inline-block; width:auto; } /* firefox3 reset */
a.pillbutton span,
a.pillbutton b { display:block; width:auto; padding:15px 0; text-align:left; }
a.pillbutton span { padding-right:8px; padding-left:25px; background:url(http://trailers.apple.com/global/images/pillbevel_leftcap.png) no-repeat 0 50%; _background-image:url(http://trailers.apple.com/global/images/pill_leftcap.gif); }
a.pillbutton b { position:absolute; width:43px; top:0; right:0; text-indent:-9999px; background:url(http://trailers.apple.com/global/images/pillbevel_rightcap.png) no-repeat 0 50%; _background-image:url(http://trailers.apple.com/global/images/pill_rightcap.gif); }
a.pillbutton:hover, a.pillbutton:focus { color:#e6e6e6; }

/* TYPE */
body { font: 12px/18px helvetica-neue, helvetica, arial, sans-serif; background-color: #fff; color: #333; }

a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
#productheader #productnav a:hover,
#globalfooter a:hover,
.main a:hover,
#promofooter a:hover { text-decoration: underline; }
a.more, em.more { white-space: nowrap; padding-right: 10px; background: url(http://trailers.apple.com/global/images/morearrow_08c.gif) no-repeat 100% 50%; zoom: 1; }
a.block { display: block; width: 100%; overflow: hidden; }
a.external { white-space: nowrap; padding-right: 15px; background: url(http://trailers.apple.com/global/images/external10x10.gif) no-repeat 100% 49%; zoom: 1; }
a.read-more { display: none; float: right; background: no-repeat 100% 55%; padding-right: 11px; outline: none; margin-bottom:1em; }

h1, h2, h3, h4, h5, h6 { color:#000; }
h1 { margin-bottom:.3em; font-size:3em; line-height:1.4; font-weight:normal; }
h2 { margin-bottom:.3em; font-size:2em; line-height:1.4; font-weight:normal; }
h3 { margin-bottom:.3em; font-size:1.3em; line-height:1.4; }
h4 { font-size:1em; line-height:1.5; }
.replaced { display:block; width:1px; height:1px; outline:none; overflow:hidden; text-indent:-9999px; }
p { margin-bottom:1.5em; }

ul, ol { list-style: none outside; padding: 0; margin: 0; }
ol.decimal,
ul.square,
ul.circle { margin-left: 2em; }
ol.decimal { list-style: decimal; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ol.sosumi { list-style: decimal; margin-left: 0; padding-left: 2em; }

/* PIPED LINKS */
.piped { display: block; zoom: 1; }
.piped:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.piped li { float: left; display: inline; }
.piped a { border-left: 1px solid #797c80; padding: 0 0 0 0.75em; margin-left: 0.75em; }
.piped a.first { border-left: 0 !important; padding-left: 0; margin-left: 0 !important; }

/*--- Global Footer ---*/
#globalfooter { width: 980px; color: #888; font-size: 10px; margin: 18px auto; padding-bottom: 50px; *padding-bottom: 30px; text-align: left !important; }
#globalfooter p { margin-bottom: 1em; }
#globalfooter ul.piped a { padding: 0 0 0 1.5em; margin-left: 1.5em; border-left: 1px solid #d0d0d0; }
#globalfooter .gf-links { float: right; margin: 18px 3px 9px 0; }
#globalfooter .gf-sosumi { float: left; width: 50%; margin: 18px 0 9px; }
#globalfooter .gf-sosumi a { padding: 0 10px; }
#globalfooter .gf-sosumi p { float: left; margin: 0 0 0 3px; }
#globalfooter ul.piped a.contact_us { padding-right: 1.5em; border-right: 1px solid #d0d0d0; }
#globalfooter ul.piped a.choose { margin-left: 0; border: 0; }
#globalfooter ul.piped a.choose img { vertical-align: middle; margin-top: -5px; position: relative; }

/*--- BREADORY ---*/
#breadory {	border: 1px solid #ddd; width: 978px; margin: 0 auto; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#breadory ol#breadcrumbs { background: none; clear: both; float: none; height: 3em; line-height: 3em; font-size: 11px; color: #666; margin: 0; }
ol#breadcrumbs { list-style: none; }
#breadory ol#breadcrumbs li { background: none; float: left; margin: 0; padding: 0 0 0 1em; }
#breadory ol#breadcrumbs li a { float: left; color: #666; text-decoration: none; padding: 0 1.75em 0 0; margin-left: 0px; background: url(http://trailers.apple.com/global/images/breadcrumb_separator.png) no-repeat 100% 50%; }
#breadory ol#breadcrumbs li a:hover { color: #fff; text-decoration: none; }
#breadory ol#breadcrumbs li.home { background: none; margin: 0; padding: 0; }
#breadory ol#breadcrumbs li.home a { background: url(http://trailers.apple.com/global/images/breadcrumb_home.png) no-repeat 1.25em 50%; margin: 0; padding: 0 0 0 1.25em; width: 30px; text-indent: -9999px; overflow: hidden; }
#breadory ol#breadcrumbs li.home a:hover { background-image: url(http://trailers.apple.com/global/images/breadcrumb_home_over.png); }

/* PRODUCTHEADER */
#productheader { position: relative; padding: 1em 0 0.2em; overflow: hidden; width: 980px; margin: 0 auto; height: 41px; }
#productheader h1, 
#productheader h2 { height: 32px; line-height: 32px; display: inline; float: left; margin: 1px 0 6px 8px; padding: 0; margin-bottom: 10px; }
#productheader h1 a, 
#productheader h2 a { line-height: 32px; background-position: 0 0; background-repeat: no-repeat; color: #888; display: block; font-weight: normal; height: 32px; position: relative; outline: none; text-decoration: none; text-indent: -9999px; }
body#overview #productheader h1 a, 
body#overview #productheader h2 a { cursor: default; }

#productheader ul { display: inline; float: right; margin: 0; }
#productheader ul li { display: inline; }
#productheader ul li a { color: #999; float: left !important; margin-top: 1em; margin-left: 30px; margin-right: 8px; padding: 0; text-decoration: none; }
#productheader ul li a:hover { color: #08c; }

/*--- Promo Footer ---*/
#promofooter { margin-top: 21px; padding: 0 1px; width: 978px; }
#promofooter .grid5col { margin: 0; padding: 0 0 15px; *padding-top: 12px; }
#promofooter .grid5col .column { width: 164px; margin: 0; margin-right: 2px; padding: 0 10px 0 20px; }
#promofooter .grid5col .column.truncate  h4 { min-height: 33px; }
#promofooter .grid5col .column.last { margin-right: 0; }
#promofooter .grid5col .column h4 { font-size: 11px; line-height: 16.5px; margin-bottom: 2px; *margin-right: -10px; }
#promofooter .grid5col .column span { font-size: 11px; }
#promofooter .grid5col .column img.reflect { -webkit-box-reflect:below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.85, transparent), to(rgba(255,255,255,.28))); }

#promofooter .grid5col .column ul { margin-left: 0; list-style: none; }
#promofooter .grid5col .column ul li { padding-left: 9px; background: url(http://trailers.apple.com/global/images/promofooter-bullet-dark-1.png) no-repeat 2px 50%; *background-position: 2px 10px; }
#promofooter .grid5col .column ol { margin-left: 0; list-style: inside decimal; }
#promofooter .grid5col .column ul,
#promofooter .grid5col .column ol,
#promofooter .grid5col .column a { font-size: .9167em; margin-bottom: 0; }
#promofooter .grid5col .column ol li strong { font-weight: normal; }
#promofooter .grid5col .column ol li span,
#promofooter .grid5col .column ol li br { display: none; }
#promofooter .grid5col .column a:hover { color: #fff; }

#promofooter .grid5col .column a.block { margin-top: 8px; text-decoration: none; }
#promofooter .grid5col .column a.block.two-col { padding-top: 17px; }
#promofooter .grid5col .column a.block img.left { margin-top: -15px; }
#promofooter .grid5col .column .more { font-style: normal; padding-right: 7px; background: no-repeat 100% 100%; *background-position: 100% 95%;  white-space: normal; }
#promofooter .grid5col .column a.block:hover em.more { cursor: pointer; text-decoration: underline; }

#promofooter .grid5col .column a.block { margin-top: 0; }
#promofooter .grid5col .column a.block .more { *margin-right: -10px; *background-position: 100% 75%; position: relative; }
#promofooter .grid5col .column a.block img { margin-top: 15px; }


/* PRINT */
@media print {
	body, #main, .content { color: #000 !important; }
	a, a:link, a:visited { color: #000 !important; text-decoration:none !important; }
	#tabs, #globalheader, #globalfooter, #directorynav, .noprint, .hide { display: none !important; }
	.main a.pdf, .main a.html, .main a.qt, .main a.ical, .main a.dl, .main a.dmg, .main a.zip, .main a.keynote, .main a.audio { padding-left: 0 !important; background-image: none !important; }
}

/* iPhone */
@media screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }

/* Button with dropdown arrow */
.button { margin-top: 6px; display: block; width: 137px; margin-left: -1px; height: 21px; text-decoration: none; text-shadow: 1px -1px 1px #256fbf; line-height:20px; }
.button span,
.button a { display: block; float: left; height: 21px; cursor: pointer; }
.button .left-cap { width: 101px; padding-left: 11px; background: url(http://trailers.apple.com/global/images/btn-watch-leftcap.png) no-repeat 0 0; _background-image: none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://trailers.apple.com/global/images/btn-watch-leftcap.png', sizingMethod='crop'); }
.button .right-cap { width: 25px; background: url(http://trailers.apple.com/global/images/btn-watch-rightcap.png) no-repeat 0 0; }
body.body-black .button a,
body.body-white .button a { color: #fff; }
body.body-black .button a:hover,
body.body-white .button a:hover { color: #ccc; }

/* Webkit transitions */
.opacity-transition { -webkit-transition: opacity .75s linear; }


/* ------------------------------------------------
	Trailers-Specific Styles
   ------------------------------------------------ */
/* Poster Popup */
#poster { position:relative; display: block; width: 137px; float: left; outline: none; }
#poster .enlarge { display:none; width:17px; height:17px; position:absolute; left:-7px; top:-6px; _top:-8px; _left:-168px; background:url(http://trailers.apple.com/global/images/poster_enlarge.png) no-repeat 0 0; }
#poster.active .enlarge { display:block; }
#poster-popup { position:absolute; z-index:9999; }
#poster-popup #poster-popupPoster { position:absolute; }
#poster-popup #poster-popupPoster,
#poster-popup #poster-popupShadow { cursor: pointer; }
#poster-overlay { position:absolute; width:100%; top:0px; left:0; z-index:9999; background: #000; -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50; }
#poster-caption { position: absolute; bottom: 75px; left: 75px; width: 366px; padding: 0 20px; color: #fff; font-size: 1.2em; text-align: center; }

/* Read More */
.read-more-container { height: auto; overflow: hidden; }

/* Product Header */
#productheader h2 { height: 30px; width: 275px; }

/* Hero Content */
#hero { width: 980px; margin: 0 auto; }

/* Main Content */
.main { padding-top: 0; position: static; }

.main .title { margin: 2px -20px 0; padding: 0 20px; font-size: 1.5em; line-height: 2.5556em; border-bottom: 1px solid #e4e4e4; _padding-top: 11px; _height: 37px; }
.main .title span { font-size: .7222em; font-weight: normal; }
.main .title span.right { *margin-top: 0; *margin-right: 20px; font-size: 11px; }
.main .title img.rating { position: relative; top: .1111em; }
.main .title span.sosumi { display: block; font-size: 0.6222em; line-height: 1em; margin: -6px 0 8px; }

.main .title #view-showtimes { display: block; position: relative; }
.main .title #view-showtimes a { display: block; white-space: nowrap; text-decoration: none; }
.main .title #view-showtimes a.showtimes { margin-top: 22px; *margin-top: 20px; padding: 0 11px 0 0; background: url(http://trailers.apple.com/trailers/global/images/showtimes/trailers-find-showtimes-right.png) no-repeat 100% 0; }
.main .title #view-showtimes a.showtimes.multiple { padding-right: 20px; background-image: url(http://trailers.apple.com/trailers/global/images/showtimes/trailers-find-showtimes-right-arrow.png); }
.main .title #view-showtimes a.showtimes span { display: block; font-family: 'Myriad Pro', Myriad, 'Helvetica', 'Arial', 'Lucida Grande', 'Sans-serif'; padding: 0 3px 0 14px; line-height: 22px; *line-height: 20px; color: #fff; text-shadow: 1px -1px 0 #006e9e; font-size: 12px; background: url(http://trailers.apple.com/trailers/global/images/showtimes/trailers-find-showtimes-left.png) no-repeat; }
.main .title #view-showtimes a.showtimes:hover span { color: #ccc; }
.main .title #view-showtimes .view-showtimes-list { position: absolute; bottom: 0; right: 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color: #c9c9c9; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(205,205,205)),color-stop(1, rgb(255,255,255))); background-image: -moz-linear-gradient(center bottom,rgb(205,205,205) 0%,rgb(255,255,255) 100%); -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.5); -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.5); padding: 6px 1px; }
.main .title #view-showtimes .view-showtimes-list li { line-height: 1em; }
.main .title #view-showtimes .view-showtimes-list a { line-height: 1em; *height: 1em; padding: 4px 8px; font-size: 12px; color: #454545; text-shadow: -1px 1px 0 rgba(255,255,255,.5); font-weight: bold; font-family: 'Helvetica', 'Arial', 'Lucida Grande', 'Sans-serif'; *width: 200px; *overflow: hidden; min-width: 100px; position: relative; z-index: 3; }
.ipad .main .title #view-showtimes .view-showtimes-list a { padding:8px 8px; font-size: 14px; }
.main .title #view-showtimes .view-showtimes-list a:hover { background-color: #3c8ad9; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(46,119,207)),color-stop(1, rgb(84,171,233))); background-image: -moz-linear-gradient(center bottom,rgb(46,119,207) 0%,rgb(84,171,233) 100%); color: #fff; text-shadow: none; }
.main .title #view-showtimes span { font-size: 1.1em; line-height: 60px; }

.ipad .main .title #view-showtimes a.showtimes { background-image: url(http://trailers.apple.com/trailers/global/images/showtimes/trailers-find-showtimes-right-ipad.png); padding-right: 14px; margin-top: 15px; }
.ipad .main .title #view-showtimes a.showtimes.multiple { background-image: url(http://trailers.apple.com/trailers/global/images/showtimes/trailers-find-showtimes-right-arrow-ipad.png); padding-right: 27px; }
.ipad .main .title #view-showtimes a.showtimes span { background-image: url(http://trailers.apple.com/trailers/global/images/showtimes/trailers-find-showtimes-left-ipad.png); padding-left: 17px; font-size: 14px; line-height: 25px; height: 25px; }

.main.content .grid2cola,
.main.content .grid3col,
.main.content .send-to-a-friend { font-size: .9167em; margin: 0 -20px; padding: 15px 20px 0; border-top: 1px solid #fff; }
.main.content .grid3col .column { width: 31%; }
.main.content .grid3col .column.first { width: 38%; }
.main.content .grid2cola .column.first { width: 55%; }
.main.content .grid3col .column.first h4,
.main.content .grid2cola .column.first h4 { margin-top: 0; }
.main.content .grid3col .column.first .grid2col .column.first,
.main.content .grid2cola .column.first .grid2col .column.first { width: 140px; }
.main.content .grid3col .column.first .grid2col .column.last { width: 200px; }
.main.content .grid2cola .column.first .grid2col .column.last { width: 360px; }
.main.content .grid3col .column.last { width: 26.5%; }
.main.content .grid2cola .column.last { width: 40%; }
.main.content .grid3col .column dl,
.main.content .grid2cola .column.last dl { overflow: hidden; margin: 0; padding-bottom: .25em; }
.main.content .grid3col .column dl dt,
.main.content .grid2cola .column.last dl dt { text-align: right; width: 80px; float: left; clear: left; }
.main.content .grid3col .column dl dt { width: 60px; }
.main.content .grid3col .column dl dd,
.main.content .grid2cola .column.last dl dd { width: 280px; float: left; margin-left: 10px; }
.main.content .grid3col .column dl dd { width: 220px; }
.main.content .grid3col .column dl dd span,
.main.content .grid2cola .column.last dl dd span { white-space: nowrap; }
.main.content .grid2cola .column.last a.official-site { padding-left: 30px; }

.main.content .grid3col .gallery { outline: none; }
.main.content .grid3col .gallery h4 { margin-top: 0; }
.main.content .grid3col .gallery img { float: left; margin: 8px 5px 4px; border: 1px solid #403e41; -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.5) 0 1px 3px; -webkit-transition: border-color .15s linear; }
.main.content .grid3col .gallery:hover img { border-color: #525252; }
.main.content .grid3col .gallery em.more { padding-top: 1.5em; background-position: 100% 77%; display: block; clear: both; text-align: right; margin-right:13px; }

.main.content .column.gallery h4 { margin: 0 0 .75em; }
.main.content .column.gallery a * { cursor: pointer; outline: none; }
.main.content .column.gallery a:active .img { border-color: #333; }
.main.content .column.gallery a:hover em { text-decoration: underline; }
.main.content .column.gallery .img { display: block; float: left; border: 1px solid #403E41; -moz-box-shadow:-1px 3px 5px rgba(0, 0, 0, 1); -webkit-box-shadow:-1px 3px 5px rgba(0, 0, 0, 1); -webkit-transition: .15s border-color linear; }
.main.content.light-1 .column.gallery .img { -moz-box-shadow:-1px 3px 5px rgba(0, 0, 0, .25); -webkit-box-shadow:-1px 3px 5px rgba(0, 0, 0, .25); }

.main.content .column.gallery .case-0#gallery-promo-0 { margin-right: 10px; }
.main.content .column.gallery .case-0#gallery-promo-1 { margin-bottom: 10px; }

.main.content .column.gallery .case-1#gallery-promo-0 { margin-right: 10px; }

.main.content .column.gallery .case-2#gallery-promo-0 { margin-bottom: 10px; }


.main #share { padding-top: 12px; padding-bottom: 25px; }
.main #share li { float: left; }
.main #share li a { display: block; background: url(http://trailers.apple.com/global/images/share-links.png) no-repeat 0 0; height: 16px; width: 16px; overflow: hidden; margin-right: 10px; text-indent: -9999px; }
.main #share #share-email a { width: 21px; }
.main #share #share-email a:hover { background-position: -21px 0; }
.main #share #share-facebook a { background-position: 0 -16px; }
.main #share #share-facebook a:hover { background-position: -21px -16px; }
.main #share #share-twitter a { background-position: 0 -32px; }
.main #share #share-twitter a:hover { background-position: -21px -32px; }

/* Movie Loading Screen */
.moviePanel.movie-loading-panel { background: #fff url(http://trailers.apple.com/global/elements/quicktime/animated_spinner.gif) no-repeat 50% 50% !important; }
