<script type="text/javascript" charset="utf-8">
		// Bootstrap includes based on device/browser
		AC.bootstrap = new AC.bootstrapper({
			calls: [
				'globalfooter',
				'productheaders'
			],
	
			includes: {
				globalfooter: {
					container: 'globalfooter',
					paths: {
						'ipad': '/trailers/global/includes/globalfooter_ipad.inc',
						'else': '/global/nav/includes/globalfooter.inc'
					}
				},
				productheaders: {
					container: 'productheader',
					paths: {
						'ipad': '/trailers/global/includes/productheader_ipad.inc',
						'else': '/trailers/global/includes/productheader.inc'
					}
				}
			}		
		});

    var init = function() {

        $('trailers').addClassName('loading');
        $('trailers').addClassName('init');
        $('trailers').innerHTML = "Loading Trailers Application."

        try {
            var trailerApp = new Trailers.Gallery('views');

            var sections = [
                new Trailers.PosterSection('justadded', '/trailers/home/feeds/just_added.json'),
                new Trailers.PosterSection('exclusive', '/trailers/home/feeds/exclusive.json'),
                new Trailers.PosterSection('justhd', '/trailers/home/feeds/just_hd.json'),
                new Trailers.PosterSection('mostpopular', '/trailers/home/feeds/most_pop.json'),
                new Trailers.GenreSection('genres', '/trailers/home/feeds/genres.json'),
                new Trailers.StudioSection('moviestudios', '/trailers/home/feeds/studios.json'),
                new Trailers.SearchSection('quickfind', '/trailers/home/scripts/quickfind.php?callback=searchCallback&q=')];

            for (var i = 0, section; (section = sections[i]); i++) {
                trailerApp.addSection(section);
            }
        } catch(e) {
            Trailers.reportError("Error initializing Trailers Application", e);
        }

        $('trailers').innerHTML = "Loading Trailers Data."

        if (trailerApp.initialSection || document.location.hash) {
            if (document.location.hash) {
                var initial = document.location.hash.replace('#', '').toQueryParams();

                var section = trailerApp.sections.get(initial.section);
                if (section) trailerApp.initialSection = section;

                var page = initial.page;
                if (page) trailerApp.initialSection.currentPageIndex = page-1;
            }

            trailerApp.sectionMaster.show(trailerApp.initialSection);
        }

        newsoundtracksTag = 'WWW-NAUS-ITMS-TRAILERS-SOUNDTRACKS';
		rentalsTag = 'WWW-NAUS-ITMS-TRAILERS-TOPRENTALS';
		moviesTag = 'WWW-NAUS-ITMS-TRAILERS-TOPMOVIES';

        if ($('newsoundtracks') && typeof(newsoundtracksTag) != 'undefined') {
            AC.Tracking.tagLinksWithin('newsoundtracks', 'v0', newsoundtracksTag, function(link) {
                if (link.href) {
					return !!(link.href.match(/itms:\/\/|phobos|\/\/itunes\.apple\.com/));
                    } else {
                        return false;
                    }
                });
        }

		if ($('topmovierentals') && typeof(rentalsTag) != 'undefined') {
			AC.Tracking.tagLinksWithin('topmovierentals', 'v0', rentalsTag, function(link) {
				if (link.href) {
					return !!(link.href.match(/itms:\/\/|phobos|\/\/itunes\.apple\.com/));
				} else {
					return false;
				}
			});
		}

		if ($('topmoviesales') && typeof(moviesTag) != 'undefined') {
			AC.Tracking.tagLinksWithin('topmoviesales', 'v0', moviesTag, function(link) {
				if (link.href) {
					return !!(link.href.match(/itms:\/\/|phobos|\/\/itunes\.apple\.com/));
				} else {
					return false;
				}
			});
		}

    }

	document.observe('bootstrap:finished', init);

	var truncateLength = 22;
	
	Event.onDOMReady(function() {
		// calculate the height of the element and divides that by two to center it
		// the value is inversed so as to pull the window above the target
		// the offset of 12 is added to account for the height of the field form element
	
		function truncate(trunkee, maxLength) {
			if(trunkee.length <= maxLength) return trunkee;
		
			for (var i = maxLength - 1; i >= 0; i--){
				if (trunkee.charAt(i) == ' ') return trunkee.substring(0, i) + '...';
			};
		
			return trunkee;
		}
	
		new Ajax.Request('http://trailers.apple.com/trailers/home/feeds/popular/most_pop.json', {
			method:'get',
		
			onSuccess: function(result) {
			
				var mostPopular = 0;
				var weekendBoxOffice = 1;
				var topRentals = 3;
				var topSales = 3;
				
				var counterTopTen = 10;
				var counterTopCharts = 10;
				
			
				var response = result.responseText.evalJSON();
		
				for (var i=0; (i < response.items[weekendBoxOffice].thumbnails.length)&&(i < counterTopTen); i++) {
					$('box-office').insert('<li><a onclick=\'s_objectID=\"' + response.items[weekendBoxOffice].thumbnails[i].showtimesurl + '\";return this.s_oc?this.s_oc(e):true\' class=\"title\" href=\"' + response.items[weekendBoxOffice].thumbnails[i].showtimesurl + '\" title=\"' + response.items[weekendBoxOffice].thumbnails[i].title + '\">' + (i+1) + '. <span class=\"truncate\">' + truncate(response.items[weekendBoxOffice].thumbnails[i].title, truncateLength)  + '</span><span class=\"no-truncate\">' + response.items[weekendBoxOffice].thumbnails[i].title + '<span></a></li>');					
				};
			
				for (var i=0; (i < response.items[topSales].thumbnails.length)&&(i < counterTopCharts); i++) {
					$('top-sold').insert('<li><a onclick=\'s_objectID=\"' + response.items[topSales].thumbnails[i].itunesurl + '\";return this.s_oc?this.s_oc(e):true\' class=\"title\" href=\"' + response.items[topSales].thumbnails[i].itunesurl + '\" title=\"' + response.items[topSales].thumbnails[i].title + '\">' + (i+1) + '. <strong class=\"truncate\">' + truncate(response.items[topSales].thumbnails[i].title, truncateLength)  + '</strong><strong class=\"no-truncate\">' + response.items[topSales].thumbnails[i].title + '</strong></a></li>');				
				};
				
				//for (var i=0; (i < response.items[topRentals].thumbnails.length)&&(i < counterTopCharts); i++) {
				//	$('top-rentals').insert('<li><a onclick=\'s_objectID=\"' + response.items[topRentals].thumbnails[i].itunesurl + '\";return this.s_oc?this.s_oc(e):true\' class=\"title\" href=\"' + response.items[topRentals].thumbnails[i].itunesurl + '\" title=\"' + response.items[topRentals].thumbnails[i].title + '\">' + (i+1) + '. <strong class=\"truncate\">' + truncate(response.items[topRentals].thumbnails[i].title, truncateLength)  + '</strong><strong class=\"no-truncate\">' + response.items[topRentals].thumbnails[i].title + '</strong></a></li>');				
				//};
			}
		});
		
		new Ajax.Request('/trailers/home/feeds/opening.json', {
			method:'get',
		
			onSuccess: function(result) {
				var weekendBoxOffice = 0;
			
				var response = result.responseText.evalJSON();

				var postedMajor = 0;
				for (var i=0; (i < response.items[weekendBoxOffice].thumbnails.length); i++) {
					if( response.items[weekendBoxOffice].thumbnails[i].url.indexOf('/independent/') == -1 ) {
						$('openings').insert('<li><a onclick=\'s_objectID=\"' + response.items[weekendBoxOffice].thumbnails[i].showtimesurl + '\";return this.s_oc?this.s_oc(e):true\' class=\"title\" href=\"' + response.items[weekendBoxOffice].thumbnails[i].showtimesurl + '\" title=\"' + response.items[weekendBoxOffice].thumbnails[i].title + '\"><span class=\"truncate\">' + truncate(response.items[weekendBoxOffice].thumbnails[i].title, truncateLength)  + '</span><span class=\"no-truncate\">' + response.items[weekendBoxOffice].thumbnails[i].title + '<span></a></li>');				
						postedMajor++;
					}
				};

				$('openings').insert('<li><a onclick=\'s_objectID=\"http://trailers.apple.com/_2\";return this.s_oc?this.s_oc(e):true\' class=\"line\" href=\"\"></a></li>');				
				
				var postedIndependent = 0;
				for (var i=0; (i < response.items[weekendBoxOffice].thumbnails.length); i++) {
					if( response.items[weekendBoxOffice].thumbnails[i].url.indexOf('/independent/') >= 0 ) {
						$('openings').insert('<li><a onclick=\'s_objectID=\"' + response.items[weekendBoxOffice].thumbnails[i].showtimesurl + '\";return this.s_oc?this.s_oc(e):true\' class=\"title\" href=\"' + response.items[weekendBoxOffice].thumbnails[i].showtimesurl + '\" title=\"' + response.items[weekendBoxOffice].thumbnails[i].title + '\"><span class=\"truncate\">' + truncate(response.items[weekendBoxOffice].thumbnails[i].title, truncateLength)  + '</span><span class=\"no-truncate\">' + response.items[weekendBoxOffice].thumbnails[i].title + '<span></a></li>');	
						postedIndependent++;
					}
				};
			}
		});
	});

	</script>

<!-- Some old test code
<script type="text/javascript" charset="utf-8">setTimeout(function() {
    var promoChildren = $A($$('#promofader1 a')); new AC.CrossfadeQueue(promoChildren, 'promofader1', 8, 'fader1', .5, .5);
}, (15 * 1000));</script>
<script type="text/javascript" charset="utf-8">setTimeout(function() {
	var promoChildren = $A($$('#promofader2 a')); new AC.CrossfadeQueue(promoChildren, 'promofader2', 8, 'fader2', .5, .5);
}, (15 * 1000));</script>
-->