<!DOCTYPE html>
<html>
<head>
  <title>Apple Trailers Companion</title>
<style>
table {
   border-collapse: collapse; 
}
.good {
    border: 1px solid blue; 
}
</style> 
</head>
<body>
<%= yield %>
</body>
</html>